html
    form(method='POST' action='/notes-added')
        p
            
                input(type='text', name='title', value='')
                input(type='text' name='description' value ='')
                input(value='submit' type='submit')        