html
link( href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
style
    include style.css
form(method='POST' action='/updatepage')
    p
    input(type='text', name='title', value=data.title)
    p
    input(type='text' name='description' value=data.description)
    p
    input(value='submit' type='submit') 
a(href='/index')
    button(value="submit") Cancel and View List.