html
link( href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
style
    include style.css
body
        a(href='notes-add/')
            button(value="submit" ) Create New  
        ul 
            each val,key in data
             li= val.title
              
              p=val.description
              a(href='delete/' + val._id)
               button(value='submit') Delete this
              a(href='updatepage/' + val._id)
                button(value='submit') Update
              