html
    body
        ul 
            each val,key in data
             li= val.title
              
              p=val.description
              a(href='delete/' + val._id)
               button(value='submit') Delete this
              a(href='update/' + val._id)
                button(value='submit') Update